body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar{
  height: 60px;
  /* background-color: aqua; */
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gbutton{
  background-color: white;
  padding: 7px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform .3s ease;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .5);
}

#gbutton:hover{
  transform: scale(1.03);
  background-color: rgb(44, 64, 131);
  cursor: pointer;
  color: white;
}

#glogo{
  width: 30px;
  border-radius: 5px;
}

#username{
  display: flex;
  align-items: center;
  gap: 10px;
}

#logout{
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .3s ease;
}

#logout:hover{
  transform: scale(1.03);
}

button{
  text-transform: "none"
}

.viewSelection{
  border: '2px solid';
  border-color: 'green';
  cursor: 'pointer';
  width: '600px';
  animation-name: zoom;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@keyframes zoom{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05)
  }
  100%{
    transform: scale(1);
  }
}